{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bank</title>
    <link rel="stylesheet" href="{% static 'app/stylee.css' %}">
</head>
<body id="bo" >
    <div id="tollbar">
        <br>
        <div id="title">
            <img src="{% static 'app/logo.png' %}" alt="">
            <p>my Bank</p>
        </div>
        <br>
        <br>
        <button id="home" class="but">home</button>
        <br>
        <br>
        <button id="history" class="but">History</button>
        <br>
        <br>
        <button id="lean" class="but">Leawn</button>
        <br>
        <br>
        <button id="settings" class="but">Settings</button>
        <br>
        <br>
        <button id="logout" class="but">Logout</button>
    </div>
    
    <script src="{% static 'app/rrr.js' %}"></script>
</body>
</html>